<header class="header">
  <div class="container">
  <nav class="nav">
    <a class="logo">Simply
      <span class="logo-chocolate">&nbsp;Chocolate</span>
      <svg class="logo-icon" width="21" height="21">
        <use href="../img/icons.svg#icon-chocolate-tab_mob"></use>
      </svg>
    </a>
    <ul class="header-list list">
      <li class="header-item">
        <a class="header-nav-link link" href="#home">Home</a>
      </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#made">How it's made?</a>
      </li>
      <li class="header-item">
      <a class="header-nav-link link" href="#products">Our products</a>
      </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#sellers">Top sellers</a>
        </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#chocolate">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="header-social-list list">
      <li class="header-social-item">
        <a class="header-social-link-inst link" href="https://www.instagram.com/" target="_blank">
          <svg class="icon-instagram" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
    </li>
      <li class="header-social-item">
        <a class="header-social-link link" href="https://twitter.com/" target="_blank">
        <svg class="icon-twitter" width="24" height="24">
          <use href="./img/icons.svg#icon-twitter"></use>
        </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="header-btn" data-menu-open>
      <svg class="header-logo" width="28" height="28">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </nav>
  <div class="mob-menu is-hidden no-scroll" data-menu>
    <button type="button" class="mob-menu-close" data-menu-close>
      <svg class="menu-close-icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mob-nav list">
      <li class="mob-nav-items">
        <a href="#home" class="nav-link link smooth-scroll">Home</a>
      </li>
      <li class="mob-nav-items">
        <a href="#made" class="nav-link link smooth-scroll">How it&apos;s made?</a>
      </li>
      <li class="mob-nav-items">
        <a href="#products" class="nav-link link smooth-scroll">Our products</a>
      </li>
      <li class="mob-nav-items">
        <a href="#sellers" class="nav-link link smooth-scroll">Top sellers</a>
      </li>
      <li class="mob-nav-items">
        <a href="#chocolate" class="nav-link link smooth-scroll">Chocolate is loved</a>
      </li>
    </ul>
        <div class="mob-social">
          <a href="https://www.instagram.com/" class="social-link-inst" target="_blank">
            <svg class="social-icons">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
          <a href="https://www.twitter.com/" class="social-link" target="_blank">
            <svg class="social-icons">
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </div>
  </div>
  </div>
</header>
