<header class="header">
  <div class="container">
  <nav class="nav">
    <a class="logo">Simply
      <span class="logo-chocolate">&nbsp;Chocolate</span>
      <svg class="logo-icon" width="21" height="21">
        <use href="../img/icons.svg#icon-chocolate-tab_mob"></use>
      </svg>
    </a>
    <ul class="header-list list">
      <li class="header-item">
        <a class="header-nav-link link" href="#home">Home</a>
      </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#made">How it's made?</a>
      </li>
      <li class="header-item">
      <a class="header-nav-link link" href="#products">Our products</a>
      </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#sellers">Top sellers</a>
        </li>
      <li class="header-item">
        <a class="header-nav-link link" href="#chocolate">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="header-social-list list">
      <li class="header-social-item">
        <a class="header-social-link-inst link" href="https://www.instagram.com/" target="_blank">
          <svg class="icon-instagram" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
    </li>
      <li class="header-social-item">
        <a class="header-social-link link" href="https://twitter.com/" target="_blank">
        <svg class="icon-twitter" width="24" height="24">
          <use href="./img/icons.svg#icon-twitter"></use>
        </svg>
        </a>
      </li>
    </ul>
    <button class="header-btn">
      <svg class="header-logo" width="28" height="28">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </nav>
  </div>
</header>
