<section class="hero" id="home">
  <div class="container">
<h1 class="visually-hidden">Chocolate</h1>
<div class="hero-box">
<h2 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
<div class="hero-btn">
<button class="buy-btn">Buy now</button>
<a class="how-btn link" href="#made">How it's made</a>
</div>
  <button class="scroll-btn">scroll down
    <svg class="hero-icon" width="28" height="28">
      <use href="../img/icons.svg#icon-scroll"></use>
    </svg>
  </button>
</div>
  </div>
</section>
