<section class="products" id="products">
  <div class="container">
    <h1 class="title">OUR <span class="title-current">PRODUCTS</span></h1>
    <div class="wrap-slider">
        <div class="swiper mySwiper">
          <ul class="swiper-wrapper list">
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/orange1x.png 1x, ./img/orange2x.png 2x" src="./img/orange1x.png" alt="orange chocolate" width="230"
                  height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">ORANGE</h2>
                  <p class="products-text">Dark chocolate</p>
                  <button class="products-btn">45 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/apple1x.png 1x, ./img/apple2x.png 2x" src="./img/apple1x.png" alt="apple chocolate" width="230"
                  height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">APPLE&CRANBERRY</h2>
                  <p class="products-text">Milk chocolate</p>
                  <button class="products-btn">50 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/lime1x.png 1x, ./img/lime2x.png 2x" src="./img/lime1x.png" alt="lime chocolate" width="230"
                  height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">LIME&SEA SALT</h2>
                  <p class="products-text">Dark chocolate</p>
                  <button class="products-btn">66 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/pineapple1x.png 1x, ./img/pineapple2x.png 2x" src="./img/pineapple1x.png"
                  alt="pineapple chocolate" width="230" height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">PINEAPPLE</h2>
                  <p class="products-text">Dark chocolate</p>
                  <button class="products-btn">54 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/milk1x.png 1x, ./img/milk2x.png 2x" src="./img/milk1x.png" alt="milk chocolate" width="230"
                  height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">CLASSIC</h2>
                  <p class="products-text">Milk chocolate</p>
                  <button class="products-btn">45 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/honey1x.png 1x, ./img/honey2x.png  2x" src="./img/honey1x.png" alt="honey chocolate" width="230"
                  height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">HONEY</h2>
                  <p class="products-text">Milk chocolate</p>
                  <button class="products-btn">50 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/winter1x.png 1x, ./img/winter2x.png 2x" src="./img/winter1x.png" alt="winter chocolate"
                  width="230" height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">ROASTED FRUITS</h2>
                  <p class="products-text">Dark chocolate</p>
                  <button class="products-btn">66 UAH</button>
                </div>
              </div>
            </li>
            <li class="swiper-slide products-item">
              <div class="products-box">
                <img srcset="./img/white1x.png 1x, ./img/white2x.png 2x" src="./img/white1x.png" alt="white chocolate" width="230"
                  height="201" />
                <div class="products-wrap">
                  <h2 class="products-title">CLASSIC</h2>
                  <p class="products-text">White chocolate</p>
                  <button class="products-btn">54 UAH</button>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </div>
    </div>
</section>