<section class="reviews" id="chocolate">
  <div class="container">
    <h2 class="reviews-title title"><span class="title-current">CHOCOLATE</span> IS LOVED</h2>
      <div class="wrap-slider">
        <div class="swiper reviews-slider">
          <ul class="swiper-wrapper list">
            <li class="swiper-slide reviews-item">
              <div class="reviews-box">
                 <img class="reviews-img" srcset="./img/Victoria1x.png 1x, ./img/Victoria2x.png 2x" src="./img/Victoria1x.png"
              alt="Victoria Dobrzhanska" width="80" height="80" />
                <div class="reviews-wrap">
                  <h3 class="reviews-descriptions">Victoria Dobrzhanska</h3>
                  <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <div class="reviews-box">
                <img class="reviews-img" srcset="./img/Nazar1x.png 1x, ./img/Nazar2x.png 1x 2x" src="./img/Nazar1x.png" alt="Nazar Babenko"
                  width="80" height="80" />
                <div class="reviews-wrap">
                  <h3 class="reviews-descriptions">Nazar Babenko</h3>
                  <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                  chocolate is good.</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <div class="reviews-box">
                <img class="reviews-img" srcset="./img/Olena1x.png 1x, ./img/Olena2x.png 2x" src="./img/Olena1x.png" alt="Olena Kampusch" width="80"
                  height="80" />
                <div class="reviews-wrap">
                  <h3 class="reviews-descriptions">Olena Kampusch</h3>
                  <p class="reviews-text">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                  but crunchy.</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <div class="reviews-box">
                <img class="reviews-img" srcset="./img/Natalia1x.png 1x, ./img/Natalia2x.png 2x" src="./img/Natalia1x.png"
                  alt="Natalia Sus" width="80" height="80" />
                <div class="reviews-wrap">
                  <h3 class="reviews-descriptions">Natalia Sus</h3>
                  <p class="reviews-text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness
                  level.</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <div class="reviews-box">
                <img class="reviews-img" srcset="./img/Danilo1x.png 1x, ./img/Danilo2x.png 2x" src="./img/Danilo1x.png" alt="Danilo Nottingham" width="80"
                  height="80" />
                <div class="reviews-wrap">
                  <h3 class="reviews-descriptions">Danilo Nottingham</h3>
                  <p class="reviews-text">This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter
                  and these chips for a snack.</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide reviews-item">
              <div class="reviews-box">
                <img class="reviews-img" srcset="./img/Irina1x.png 1x, ./img/Irina2x.png  2x" src="./img/Irina1x.png" alt="Irina Tydnyuk"
                  width="80" height="80" />
                <div class="reviews-wrap">
                  <h3 class="reviews-descriptions">Irina Tydnyuk</h3>
                  <p class="reviews-text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world
                  class :)</p>
                </div>
              </div>
            </li>
          </ul>
          <div class="swiper-pagination pagination">
          </div>
        </div>
      </div>
      <button type="button" class="reviews-btn">Leave a review</button>
  </div>
</section>