<section class="sellers" id="#sellers">
  <div class="container">
    <h1 class="title"><span class="title-current">TOP</span> SELLERS</h1>
    <ul class="sellers-list list">
      <li class="sellers-item">
        <picture>
          <source srcset="./img/sellers-desc1x.jpg 1x, ./img/sellers-desc2x.jpg 2x" media="(min-width: 1200px)" />
          <source srcset="./img/sellers-tab1x.jpg 1x, ./img/sellers-tab2x.jpg  2x" media="(min-width: 768px)" />
          <source srcset="./img/sellers-tab1x.jpg 1x, ./img/sellers-tab2x.jpg  2x" media="(max-width: 767px)" />
          <img class="sellers-img" src="./img/sellers-desc1x.jpg 1x" alt="chocolate and coffee" />
        </picture>
        <p class="sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for
        thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
      </li>
      <li class="sellers-item">
        <picture>
          <source srcset="./img/sellers-desc1-1x.jpg 1x, ./img/sellers-desc1-2x.jpg 2x" media="(min-width: 1200px)" />
          <source srcset="./img/sellers-tab1-1x.jpg 1x, ./img/sellers-tab1-2x.jpg 2x" media="(min-width: 768px)" />
          <source srcset="./img/sellers-tab1x.jpg 1x, ./img/sellers-tab2x.jpg  2x" media="(max-width: 767px)" />
          <img class="sellers-img" src="./img/sellers-desc1-1x.jpg" alt="chocolate and raisin" />
        </picture>
        <button class="sellers-btn twice">Buy now</button>
      </li>
      <li class="sellers-item sellers-wrap">
        <picture>
          <source srcset="./img/sellers-desc2-1x.jpg 1x, ./img/sellers-desc2-2x.jpg 2x" media="(min-width: 1200px)" />
          <img class="sellers-img twice-img" src="./img/sellers-desc2-1x.jpg" alt="chocolate pyramid" />
        </picture>
        <button class="sellers-btn">Buy now</button>
      </li>
    </ul>
  </div>
</section>