.footer {
  height: 440px;
  background-color: var(--footer_color);
}

.footer-title {
  font-family: var(--medium__font);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 1.16;
  color: var(--white__color);
  padding-top: 32px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-text {
  font-family: var(--medium__font);
  color: var(--white__color);
  font-weight: 500;
  line-height: 1.28;
}

.footer-icon-list {
  display: flex;
  gap: 14px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-link {
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--white__color);
}

.footer-icon-link-inst {
  display: block;
  fill: var(--white__color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link-inst:hover,
.footer-icon-link-inst:focus {
  fill: var(--accent__text__color);
}

.footer-icon-link {
  display: block;
  stroke: var(--white__color);
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  stroke: var(--accent__text__color);
}

.footer-line {
  margin: 32px 0;
  border-bottom: 1px solid var(--footer_line);
}

.footer-list-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-link-nav {
  font-family: var(--medium__font);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.14;
  color: var(--white__color);
  transition: color 250ms linear;
}

.footer-link-nav:hover,
.footer-link-nav:focus {
  color: var(--accent__text__color);
}

@media screen and (min-width: 375px) {
  .footer-line {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 262px;
  }

  .footer-wrap {
    display: flex;
    gap: 124px;
  }

  .footer-title {
    width: 300px;
    font-size: 28px;
    line-height: 1.21;
    padding-top: 50px;
  }

  .footer-box {
    margin-top: 50px;
    gap: 50px;
  }

  .footer-line {
    width: 704px;
    margin-top: 50px;
    margin-bottom: 24px;
  }

  .footer-list-nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    gap: 543px;
  }

  .footer-box {
    gap: 63px;
  }

  .footer-line {
    width: 1136px;
    margin-top: 62px;
  }
}