.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--bolditalic__font);
  color: var(--main__text__color);
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.28;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.logo-chocolate {
  font-family: var(--bold__font);
}

.logo-icon {
  margin-left: 4px;
}

.header-list {
  display: none;
}

.header-nav-link {
  color: var(--main__text__color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-list {
  display: none;
}

.header-social-link:hover,
.header-social-link:focus {
  fill: var(--accent__text__color);
}

.header-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 24px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-nav-link {
    font-family: var(--medium__font);
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.14;
  }

  .header-list {
    display: flex;
    gap: 24px;
    margin-left: 188px;
  }

  .header-social-list {
    display: flex;
    gap: 18px;
  }

  .header-btn {
    display: none;
  }

  .hero-box {
    display: block;
  }
}