.subscribe {
  height: 370px;
  background-image: url(../img/Subcribe-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .subscribe {
    background-image: url(../img/Subcribe-mob2x.jpg);
  }
}

.subscribe .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-title {
  padding-top: 62px;
  width: 291px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--semibold__font);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--white__color);
  text-align: center;
}

.subscribe-text {
  width: 100%;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--white__color);
  text-align: center;
}

.subscribe-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 41px;
  font-family: var(--semibold__font);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: var(--accent__text__color);
  color: var(--white__color);
  border-radius: 100px;
  border: none;
  padding: 12px 28px;
  cursor: pointer;
  transition: background-color, color 250ms linear;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hover__button);
  color: var(--accent__text__color);
}

@media screen and (min-width: 375px) {
  .subscribe-text {
    width: 326px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    height: 370px;
    background-image: url(../img/Subcribe-tab1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .subscribe {
      background-image: url(../img/Subcribe-tab2x.jpg);
    }

    .subscribe-text {
      width: 467px;
      margin-left: auto;
      margin-right: auto;
    }

    .subscribe-btn {
      width: 172px;
      height: 50px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    height: 370px;
    background-image: url(../img/Subcribe-desc1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .subscribe {
      background-image: url(../img/Subcribe-desc2x.jpg);
    }
  }
}